.background-gif{
    background-image: url(https://cutewallpaper.org/21/hd-gifs-wallpaper/Shooting-Star-Gif-Background-Shooting-Star-Wallpaper-Gif-.gif);
    background-size: cover;
}

.text-star{
    color: rgb(251, 255, 0);
}

.card{
    background-color: rgba(0, 0, 0, 0.39);
}